<h1>Artist Form:</h1> 
<%= form_for(@artist) do |f| %>
  <%= label_tag(:name, "Name:") %>
  <%= f.text_field :name %>
  <p><%= label_tag(:bio, "Bio:") %>
  <%= f.text_area :bio %> 
  <p><%= f.submit %>
<% end %> 